h2 {
  color: blue;
}

.boxmodel {
  border: 5px solid red;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  margin: 0px 20px;
}
/* top right bottom left  */
/* top/bottom right/left  */
/* padding inside */
/* margin outside  */

p {
  font-size: 20px;
}

/* we want it 5 times as normal (20px)   */
/* rem - relative to the normal size of file 2rem = 2 times as big  */
span {
  font-size: 5em;
}
